body {
    box-sizing: border-box;
    background-color: whitesmoke;
}

/* ovo je stavljeno da se prilikom scrola ne vide clanci na gornjem rubu iznad tabova*/
.pomocni-div1 {
    background-color: whitesmoke;
    width: 800px;
    height:50px;
    position: sticky;
    top: 0;
    margin: auto;
}


.tabs-container {
    width: 653px;
    margin: 0px auto 0px auto;
    position: sticky;
    top: 50px;
}


#vijesti-tab, #sport-tab {
    font-weight: normal;
}

#myTab {
    background-color: whitesmoke;
    opacity: 100%;
}

/*refresh button*/
.btn-warning {
    position: absolute;
    left: 577px;
}

.main-container {
    width: 650px;
    margin: auto;
    background-color: white;
    padding-top: 30px;
}

.time-container-left {
    margin-left: 5px;
}

.vrijeme-objave {
    font-size: 12px;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.news-container {
    background-color: white;
    border-bottom: 1px solid #e0a800;
    width: 500px;
    height: 220px;
    margin: 0 auto 10px auto;
    color: black;
    padding-bottom: 3px;
}

.news-container-right {
    display: inline-block;
    width: 400px;
    float: right;
    margin: 15px;
    margin-right: 55px;
    margin-bottom: 20px;
}

.news-container-left {
    display: inline-block;
    text-align: justify;
    margin: 15px;
    margin-left: 5px;
    float: left;
}

.heading {
    top:15px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: justify;
    text-justify: auto;
    font-weight: bold;
}

.summary {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 15px;
    top: 100px;
    line-height: 17px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: red;
}

.image {
    border: 2px solid #fcc200;
    width: 230px;
    height: 123px;
}


/*sidebar menu*/
.sidebar-menu-container {
    position: fixed;
    top: 0;
    left: -220px;
    width: 250px;
    height: 100vh;
    background-color: #e0a800;
    transition: left 2s;
}

.sidebar-menu-container:hover {
    left: 0px;
    transition: left 0.5s;
}

.popis-portala {
    position: relative;
    top: 100px;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 120px;
}

.portal-link-container p:hover {
    opacity: 50%;
    cursor: pointer;
}


.naslov-stranice .naslov {
    margin-left: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px #e0a800;
}

.portal-link-container {
    width: 250px;
    margin-bottom: 10px;
}

.link-portal-index, .link-portal-narod, .link-portal-dnevno , .link-portal-net,
.link-portal-rep, .link-portal-ict {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    left:60px;
}

.vijesti-naslov {
    position: relative;
    left: 30px;
    color: white;
    font-size: 16px;
}


/* logo portala*/
.logo-portala {
    width: 70px;
    height:18px;
    margin-left: 205px;
}

.ikonica {
    position: absolute;
    bottom: 60px;
    right: 70px;
}

.navigacija-stranice {
    position: absolute;
    left: 160px;
}

.page-link {
    color: black;
}

.pagination > li > a:focus {
    box-shadow: none;
}

.copyright {
    position: absolute;
    bottom: 20px;
    left: 45px;
    font-size: 14px;

}



