<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/svg" href="imgs/worldwide.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/mycss.css}">
    <link rel="stylesheet" th:href="@{/css/mobile.css}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>News portal highlights</title>
</head>


<body>
<div id="ubacivanje-novog-sadrzaja">

    <div class="pomocni-div1"></div>

    <div class="tabs-container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="vijesti-tab" data-toggle="tab" href="#vijesti" role="tab" aria-controls="home"
                   aria-selected="true">Vijesti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="sport-tab" data-toggle="tab" href="#sport" role="tab" aria-controls="profile"
                   aria-selected="false">Sport</a>
            </li>

            <nav class="navigacija-stranice" aria-label="Page navigation example" hidden>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link page-left" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link link-page1" th:value="1" href="#">1</a></li>
                    <li class="page-item"><a class="page-link link-page2" th:value="2" href="#">2</a></li>
                    <li class="page-item"><a class="page-link link-page3" th:value="3" href="#">3</a></li>
                    <li class="page-item"><a class="page-link link-page4" th:value="4" href="#">4</a></li>
                    <li class="page-item"><a class="page-link link-page5" th:value="5" href="#">5</a></li>
                    <li class="page-item"><a class="page-link link-page6" th:value="6" href="#">6</a></li>
                    <li class="page-item"><a class="page-link link-page7" th:value="7" href="#">7</a></li>
                    <li class="page-item"><a class="page-link link-page8" th:value="8" href="#">8</a></li>
                    <li class="page-item">
                        <a class="page-link page-right" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>


            <button type="button" class="btn btn-warning">Osvježi</button>
        </ul>
    </div>


    <div id="ubacivanje-novih-clanaka">

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="vijesti" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="main-container">
                    <th:block th:each="naslov : ${listaNaslovaVijesti}">
                        <div class="main-news-container">
                            <div class="news-container">
                                <img class="logo-portala" alt="portal" src="imgs/index-logo.png">
                                <div class="time-container-left">
                                <span class="vrijeme-objave"
                                      th:text="${listaVremenaObjaveVijesti.get(counter.getCounter())}"></span>
                                </div>

                                <div class="news-container-right">
                                    <p class="heading">
                                        <a class="heading1" th:text="${naslov}" target="_blank"
                                           th:href="${linkoviClanciVijesti.get(counter.getCounter())}"></a></p>

                                    <p class="summary" th:text="${listaSazetakaVijesti.get(counter.getCounter())}"></p>
                                </div>
                            </div>
                        </div>

                        <p hidden th:text="${counter.increment()}"></p>

                    </th:block>

                    <p hidden th:text="${counter.reset()}"></p>
                </div>
            </div>


            <div class="tab-pane fade" id="sport" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="main-container">
                    <th:block th:each="naslov : ${listaNaslovaSport}">
                        <div class="main-news-container">
                            <div class="news-container">
                                <img class="logo-portala" alt="portal" src="imgs/indexhr-logo.png">
                                <div class="time-container-left">
                            <span class="vrijeme-objave"
                                  th:text="${listaVremenaObjaveSport.get(counter.getCounter())}"></span>
                                </div>

                                <div class="news-container-right">
                                    <a class="heading" th:text="${naslov}" target="_blank"
                                       th:href="${linkoviClanciSport.get(counter.getCounter())}"></a>

                                    <p class="summary" th:text="${listaSazetakaSport.get(counter.getCounter())}"></p>
                                </div>
                            </div>
                        </div>

                        <p hidden th:text="${counter.increment()}"></p>

                    </th:block>

                    <p hidden th:text="${counter.reset()}"></p>
                </div>
            </div>
        </div>

    </div>

</div>

<!--sidebar menu-->
<div class="sidebar-menu-container">

    <div class="popis-portala">

        <div class="vijesti>">
            <p class="vijesti-naslov">VIJESTI</p>
        </div>


        <div class="portal-link-container index-link-container">
            <p class="link-portal-index">index</p>
        </div>


        <div class="portal-link-container">
            <p class="link-portal-net">net</p>
        </div>


        <div class="portal-link-container">
            <p class="link-portal-narod">narod</p>
        </div>

        <br>
        <br>

        <div class="vijesti>">
            <p class="vijesti-naslov">ICT</p>
        </div>


        <div class="portal-link-container">
            <p class="link-portal-rep">rep</p>
        </div>


        <div class="portal-link-container">
            <p class="link-portal-ict">ictbusiness</p>
        </div>

        <br>
        <br>

        <div class="vijesti>">
            <p class="vijesti-naslov">ZNANOST</p>
        </div>

        <div class="portal-link-container">
            <p class="link-portal-science">sciencemag</p>
        </div>


    </div>

    <img class="ikonica" src="imgs/pdf.svg" height="120px" width="120px">
    <div class="copyright">Stjepko Katulic © 2021</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/myscript.js"></script>

</body>
</html>