<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/mycss.css}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>News portal highlights</title>
</head>


<body>
<!--<button type="button" class="btn btn-warning">Osvježi</button>-->
<div id="ubacivanje-novog-sadrzaja">

    <div class="pomocni-div1">

    </div>

<div class="tabs-container">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="vijesti-tab" data-toggle="tab" href="#vijesti" role="tab" aria-controls="home"
               aria-selected="true">Vijesti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="sport-tab" data-toggle="tab" href="#sport" role="tab" aria-controls="profile"
               aria-selected="false">Sport</a>
        </li>
        <button type="button" class="btn btn-warning">Osvježi</button>
    </ul>
</div>



    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="vijesti" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="main-container">
                <th:block th:each="naslov : ${listaNaslovaVijesti}">
                    <div class="main-news-container">
                        <div class="news-container">
                            <img class="logo-portala" alt="portal" src="imgs/indexhr-logo.png">
                            <div class="time-container-left">
                                <span class="vrijeme-objave"
                                      th:text="${listaVremenaObjaveVijesti.get(counter.getCounter())}"></span>
                            </div>

                            <div class="news-container-left">
                                <img class="image" th:src="${linkoviNaSlikeVijesti.get(counter.getCounter())}"
                                     alt="slika-naslova">
                            </div>

                            <div class="news-container-right">
                                <a class="heading" th:text="${naslov}" target="_blank"
                                   th:href="${linkoviClanciVijesti.get(counter.getCounter())}"></a>

                                <p class="summary" th:text="${listaSazetakaVijesti.get(counter.getCounter())}"></p>
                            </div>
                        </div>
                    </div>

                    <p hidden th:text="${counter.increment()}"></p>

                </th:block>

                <p hidden th:text="${counter.reset()}"></p>
            </div>
        </div>


        <div class="tab-pane fade" id="sport" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="main-container">
                <th:block th:each="naslov : ${listaNaslovaSport}">
                    <div class="main-news-container">
                        <div class="news-container">
                            <img class="logo-portala" alt="portal" src="imgs/indexhr-logo.png">
                            <div class="time-container-left">
                            <span class="vrijeme-objave"
                                  th:text="${listaVremenaObjaveSport.get(counter.getCounter())}"></span>
                            </div>

                            <div class="news-container-left">
                                <img class="image" th:src="${linkoviNaSlikeSport.get(counter.getCounter())}"
                                     alt="slika-naslova">
                            </div>

                            <div class="news-container-right">
                                <a class="heading" th:text="${naslov}" target="_blank"
                                   th:href="${linkoviClanciSport.get(counter.getCounter())}"></a>

                                <p class="summary" th:text="${listaSazetakaSport.get(counter.getCounter())}"></p>
                            </div>
                        </div>
                    </div>

                    <p hidden th:text="${counter.increment()}"></p>

                </th:block>

                <p hidden th:text="${counter.reset()}"></p>
            </div>
        </div>
    </div>

</div>

<!--sidebar menu-->
<div class="sidebar-menu-container">

    <div class="popis-portala">

        <div class="vijesti>">
            <p class="vijesti-naslov">VIJESTI</p>
        </div>


        <form class="form-index" method="get" action="/">
            <div class="portal-link-container index-link-container">
                <p class="link-portal-index">index.hr</p>
            </div>
        </form>

        <form class="form-net" method="get" action="/net">
            <div class="portal-link-container">
                <p class="link-portal-net">net.hr</p>
            </div>
        </form>

        <form class="form-narod" method="get" action="/narod">
            <div class="portal-link-container">
                <p class="link-portal-narod">narod.hr</p>
            </div>
        </form>

        <form class="form-dnevno" method="get" action="/dnevno">
            <div class="portal-link-container">
                <p class="link-portal-dnevno">dnevno.hr</p>
            </div>
        </form>

        <br>
        <br>
        <br>

        <div class="vijesti>">
            <p class="vijesti-naslov">ICT</p>
        </div>

        <form class="form-rep" method="get" action="/rep">
            <div class="portal-link-container">
                <p class="link-portal-rep">rep.hr</p>
            </div>
        </form>

        <form class="form-ict" method="get" action="/ict">
            <div class="portal-link-container">
                <p class="link-portal-ict">ictbusiness.info</p>
            </div>
        </form>

    </div>

    <img class="ikonica" src="imgs/pdf.svg" height="120px" width="120px">
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/myscript.js"></script>

</body>
</html>